@use "../../../Sass/_vars.scss" as *;

.card__imb {
  margin: 0 25px 20px;
  padding: 10px 15px;
  box-shadow: 9px 9px 7px rgba(0, 0, 0, 0.3);

  .card__imb--image {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 7px;
  }

  .card__imb--body {
  }
}
