.Bandera {
  .Bandera__columna {
    .Bandera__columna--verde {
      background-color: #03a834;
    }
    .Bandera__columna--blanco {
      background-color: #fff;
    }
    .Bandera__columna--rojo {
      background-color: #f20808;
    }
  }
}
