@use "../../Sass/_vars.scss" as *;

.wrapp-view {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 5vh 2.5vw;

  .title_home{
    text-align: center;
    margin-bottom: 5vh;
    text-transform: uppercase;
  }

  .btn-custom{
    width: 200px;
    align-self: center;
  }

  .floating--close {
    position: absolute;
    bottom: 30px;
    right: 50px;
    background-color: #282c34;
    color: #fff;
    font-size: large;
    font-weight: 700;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
  }
}
